body{
    background-color: rgb(109,151,115);
 margin: 5%;
    color: white;
}


.parent{
    width: 100%;
}

.h{
    width: 50%;
    float: left;
    font-size: 25px;
}

.p{
    width: 50%;
    float: right;
    font-size: 25px;
}

img {
    width:100%;
    float: center;

}

