body{ background-color: rgb(12,59,46);
    color: aliceblue;
}

h1{
    color: rgb(255, 255, 255); 
    font-family: "YAEnXArs1iQ 0", _fb_, auto;
     line-height: 30px;
     font-size: 30px;
}

h3{
    background-color: rgb(255,186,0);
    border-radius: 5cm;
    min-inline-size: 1%;
    text-align: center;
    width: fit-content;
    color: black;

}

.parent{
    width: 100%;
 }


.text{
    width: 50%;



}



img1{
    width: 40%;
    float: right;
 }