.second {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(109,151,115);
    margin: 0 auto;
    padding: 30px;
  }
  
  .s1, .s2 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .s2 {
    text-align: right;
  }
  
  .si {
    width: 100%;
    margin-top: 20px;
  }
  
  .si img {
    width: 100%;
    height: auto;
  }
  

